*~
*.iml
*.ipr
*.iws
*.dll
*.exe
*.log
*.bak
*.jar
*.zip
*.gz

.*.swp
.DS_Store
.gradle
.idea
.project
.settings
.classpath
.tag
.build_uuid
.prjname
.lambda_version
.lambda_arn
.m2
.vagrant/
out/

.aws-credentials
Thumbs.db
build/
target/
out/
dependency-reduced-pom.xml
tfplan
example.tf
bin/
modules-dev/
pkg/
vendor/
website/.vagrant
website/build
website/node_modules
allure-results/

# Terrafrom
**/.terraform/*
terraform.tfplan
terraform.tfstate
terraform.tfstate.backup
.terragrunt-cache
